{
    margin: 0;
    padding: 0;
}

main
{
    padding: 10px 80px;

}

.contents-img pictures
{
    width = 70%;
}

@media (max-width: 768px) {
    .myImg {
     width: 100%;
    } 
   }

.typing-title{
    font-size : 50px;
    width : 100%;
    white-space : nowrap;
    overflow : hidden;
    color : black;
    animation: typing-title 20s steps(60, end);
   }
   @keyframes typing-title
   {
    from { width: 0; }
   }